<!DOCTYPE html>
<html>
<head>
  <title>Корзина</title>
  <!-- <script src="https://unpkg.com/vue"></script>-->  
 <script src="https://cdn.jsdelivr.net/npm/vue"></script>
 <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
 
  <link href="./style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="app">
      
      <div class="products">
        <item v-for="item in items" v-bind:product_data="item"></item>
      </div>
      
      <div class="cart">
        <div class="cart__head">
          <h3>Корзина</h3>
          <div class="cart__head--price">Цена</div>
          <div class="cart__head--quantity">Количество</div>
          <div class="cart__head--total">Сумма</div>
        </div>
        
        <basket_item v-for="basket_item in basket_items" v-bind:buy_data="basket_item"></basket_item>
        <h5 v-if="total">Итого: {{total}} р. {{ counter() }} шт</h5>
        <h5 v-else>Корзина пустая</h5>
      </div>

    </div>
    
    
    <template id="item-template">
      <div class="box" v-bind:id="product_data.id">
        <img :src="product_data.img"/>
        <i class="fa fa-plus" v-on:click="addItem(product_data)">+</i>
        <h2>{{product_data.title}}</h2>
        <p>{{product_data.price}} р.</p>
      </div>
    </template>
    
    <template id="basket-item-template">
      <div class="row">
        <img v-bind:src="buy_data.img"/>
        <h4>{{buy_data.title}}</h4>
        <p>{{buy_data.price}} р.</p>
        <div class="qty-minus" v-on:click="minusQty(buy_data)">-</div>
        <div class="qty">{{buy_data.qty}}</div>
        <div class="qty-plus" v-on:click="plusQty(buy_data)">+</div>
        <div class="del" v-on:click="removeItem(buy_data)">Удалить</div>
        <div class="totalprice">{{buy_data.total}} р.</div>
      </div>
    </template>

<script src="./app.js"></script>
</body>
</html>